# Secrets
keys.json
.env
__pycache__

**/dataset/

downstream-datasets/

*.env 

ap/

ap/*

**/extraction-metadata.json 

**/save-metadata.json 

**/search-metadata.json 

extraction-metadata.json
save-metadata.json
search-metadata.json

diar_out/

3D-Speaker/

*.zip




*.pt
*.safetensors
*.pth
tokenizer.json
*.bin
tokenizer_config.json
config.json
trainer_state.json
label_info.json







